
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    height: 100%;
    justify-content: space-between;
}

.header{
    display: flex;
    align-items: center;
    padding: 80px 0;
}

.main{
    display: flex;
    gap: 50px;
}

.image{
    max-width: 100%;
    height: auto;
}

.introduction{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.introduction p{
    line-height: 25px;
    padding-top: 20px;
}

.btn-register{
    margin-top: 30px;
    padding: 20px 80px;
    background-color: white;
    color: hsl(257, 40%, 49%);
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 1px black;
    transition: 0.3s;
    font-size: 16px;
}

.btn-register:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.footer{
    display: flex;
    justify-content: right;
    padding: 20px;
}

.social a{
    padding: 0 5px;
}

.social a i{
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 100%;
}

.fa-facebook-f{
    width: 20px;
    text-align: center;
}

.social a i:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    transition: 0.3s;
}

/* 1366x768 */
@media (max-height: 650px) {  
    .header{
        padding: 0;
    }

    .image{
        height: 400px;
    }
}
 /* --- MOBILE ---*/
 @media (max-width: 415px) {  
    .header{
        padding: 40px 0;
    }

    .header img{ 
        width: 40%;
    }
    
    .content{
        width: 85%;
    }

    .main{
        flex-direction: column;
        align-items: center;
    }

    .image{
        width: 100%;
        height: auto;
    }

    .introduction{
        text-align: center;
        display: flex;
        padding-top: 40px;
        width: 100%;
        line-height: normal;
    }

    .btn-register{
        padding: 10px 80px;
    }

    .footer{
        justify-content: center;
    }
   
    .social{
        text-align: center;
        padding: 20px;
    }
 }